<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BillPortal</display-name>
  <servlet>
    <description>
		</description>
    <display-name>MasterServlet</display-name>
    <servlet-name>MasterServlet</servlet-name>
    <servlet-class>MasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterServlet</servlet-name>
    <url-pattern>/MasterServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>    
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Billhandler</display-name>
    <servlet-name>Billhandler</servlet-name>
    <servlet-class>Billhandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Billhandler</servlet-name>
    <url-pattern>/Billhandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginControl</display-name>
    <servlet-name>LoginControl</servlet-name>
    <servlet-class>LoginControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControl</servlet-name>
    <url-pattern>/LoginControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginControlFinal</display-name>
    <servlet-name>LoginControlFinal</servlet-name>
    <servlet-class>LoginControlFinal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControlFinal</servlet-name>
    <url-pattern>/LoginControlFinal</url-pattern>
  </servlet-mapping>
</web-app>