@CHARSET "ISO-8859-1";

/*For Quick Search Jsp page design*/
#Quick_Search{
font-size: 120%;
font-weight:bold;
color: black;
width: 80%;
height:20%
margin-top:2%;
margin-left:10%;
}
 .textbox { 
    background: white; 
    border: 1px double #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #333; 
    color: #666; 
    outline: none; 
    height:75%; 
    width: 50%; 
  } 
  
  .textbox1 { 
    height: 25px; 
    width: 275px; 
    background-color: transparent;  
    border-style: solid;  
    border-width: 0px 0px 1px 0px;  
    border-color: darkred; 
    outline:0; 
  } 
