@CHARSET "ISO-8859-1";
/*Maintenance Page Styles*/
#header {
	position:absolute;
	background-color:blue;
	right : 0%;
	top : 0%;
	width:100%;
	height:5%;
    color:white;
    text-align:center;
}

#nav {
    position : absolute;
    right : 85%;
	top : 5%;
	width:15%;
	height:90%;
	float:left;
	line-height:450%;
    background-color:#66c2ff;
         
}
#section,#section1,#section2,#section3,#section4,#section5,#section6 {
	position:absolute;
	right :0%;
	top : 5%;
	width:85%;
	height:90%;
	background-color:#99d6ff;
   	 
}
#footer {
	position: absolute;
	right : 0%;
	top : 95%;
	width:100%;
	height:5%;
    background-color: blue;
    color:white;
    clear:both;
    text-align:center;
   	 
}
#h2{
	color: Blue;

}

/* For Add Item POP-UP in billing Screen*/

#section7{
	position:absolute;
	right :0%;
	top : 0%;
	width:100%;
	height:100%;
	background-color:#99d6ff;
	}
/* For Edit Item POP-UP in billing Screen*/	
#section8{
	position:absolute;
	right :0%;
	top : 0%;
	width:100%;
	height:100%;
	background-color:#99d6ff;
	}


/*Billing Page Styles*/

#title
{
	position:absolute;
	right : 0%;
	top : 0%;
	width:100%;
	height:5%;
	background-color: blue;
    color:white;
    text-align:left;
    
}

#header_Bill
{
	position:absolute;
	width:100%;
	height:5%;
	top: 5%;
	right:0%;
	background-color:#cce5ff;
    color: black;
    text-align: left;
 	
}

#content
{	
	position:absolute;
	width:100%;
	height:70%;
	top: 10%;
	right:0%;
	background-color:white;
}

#bottomleft
{
	position:absolute;
	width:70%;
	height:30%;
	top: 99%;
	right:30%;
	background-color: #3399ff;
}

#bottomright
{
	position:absolute;
	width:30%;
	height:30%;
	background-color: #b3d9ff;
	top:99%;
	left:70%;
}

#new
	{
	position: absolute;
    width: 33%;
    height: 80%;
    background-color: #B3C4FE;
    top: 16%;
    left: 66%; 
}



    
/*Login Page Style*/

#container
{
	
	background-color:gray;
	margin-left: auto;
	margin-right: auto;
	height: 650px;
	margin-bottom: auto;
	position:fixed;
	width: 100%;
	margin-left: -10px;
	margin-top:-10px;
	left:0px;
	top:0px;
}
#newCredential
{
margin-left: 400px;
postion: fixed;
}
	
#Kachel{
   width: 300px;
   line-height: 30px;
   display: block;
   text-align: center;
   margin-top:-1% 
	width: 300px;
}	

#end {
	width: 300px;
   line-height:3px;
   display: block;
	text-align: center;
	 margin-top: -1%;
}

#userName{
	margin-top:60px;
	margin-left:30px;
}
#password{
	margin-top:20px;
	margin-left:30px;
}
#User_pwd{
	margin-left:7px;
}

#background
{
	margin-top:-300px;
}
.scrollclass{
    width:20%;
    height:20%;
    overflow-y:scroll;
}
#scrolldiv{
    width:100%;
    height:70%;
    overflow-y:scroll;
}

#input{
font-size: 100%;
}

/*Button Style*/

#myButton1{
font-size: 120%;
font-weight:bold;
color: black;
width: 18%;
height:72%;
margin-top: 2.5%;
margin-left:1%;
}

#myButton2{
font-size: 120%;
font-weight:bold;
color: black;
width: 18%;
height:72%;
margin-top: 2.5%;
margin-left:0%;
}

#myButton3{
font-size: 120%;
font-weight:bold;
color: black;
width: 16%;
height:72%;
margin-top: 2.5%;
margin-left:0%;
}

#myButton4{
font-size: 120%;
font-weight:bold;
color: black;
width: 18%;
height:72%;;
margin-top: 0%;
margin-left:0%;
}

#Quick_Search{
font-size: 120%;
font-weight:bold;
color: black;
width: 18%;
height:72%;;
margin-top: 0%;
margin-left:0%;
}



/*For buttons and its explanation*/

#sh_buttons
{
	background-color: #3399ff;
	position: absolute;
    width: 100%;
    height: 77%;
    top: 0%;
    right: 0%;
    color: black;
    text-align: left;
}

#sh_comments
{
	background-color:  #3399ff;
    position: absolute;
    width: 100%;
    height: 22%;
    top: 77%;
    right: 0%;
    color: black;
    text-align: left;
}


/*Contact Us Page style design*/
#header_contact
{
	position:absolute;
	background-color:blue;
	right : 0%;
	top : 0%;
	width:100%;
	height:16%;
    color:white;
    text-align:center;
}

#rightpane_contact
{
	position:absolute;
	background-color:black;
	right : 0%;
	top : 16%;
	width:32%;
	height:78%;
    color:white;
    text-align:center;
}

#leftpane_contact
{
	position:absolute;
	background-color:rgb(229,251,252);
	right : 32%;
	top : 16%;
	width:68%;
	height:84%;
    color:black;
}

#footer_contact
{
	position:absolute;
	background-color:blue;
	right : 0%;
	top : 94%;
	width:100%;
	height:6%;
    color:white;
    text-align:center;
}